/projects/2012/ipch
/projects/2012/obj
/projects/2012/*.user
/projects/2012/*.suo
/projects/2012/*.dll
/projects/2012/*.ilk
/projects/2012/*.opensdf
/projects/2012/LocalSettings.props
**/*.sdf
**/*.aps
